---
import { slugify, formatDate } from "../js/utils";
import Image from "astro/components/Image.astro";
import Link from "./Link.astro";

const { frontmatter, url, tagType } = Astro.props;
const { description, author, category, date, image, title } = frontmatter;
const Tag = tagType;
---

<article class="card">
  <small>
    <a href={`/category/${slugify(category)}`} class="badge">{category}</a>
  </small>
  <a href={url} aria-hidden="true" tabindex="-1">
    <Image
      src={image.src}
      alt={image.alt}
      width={400}
      height={250}
      format="webp"
      class="hero-image"
      quality={100}
    />
  </a>
  <div class="content">
    <div>
      <Tag class="h3">{title}</Tag>
    <small>
      by <a href={`/author/${slugify(author)}`}>{author}</a>
      {formatDate(date)}
    </small>
    </div>
    <p>{description}</p>
    <Link href={url} text="Read Post" style="secondary"/>
  </div>
</article>
