---
import PostHeader from "../components/PostHeader.astro";
import App from "./App.astro";

const {frontmatter} = Astro.props;
// console.log(frontmatter);

const {title, description, date, category, author, image} = frontmatter;

---
<App {title} {description}>
  <PostHeader {title} {date} {category} {author} {image} {description} />
 <div class="post-content">
  <div class="content">
    <slot/>
  </div>
  <div class="sidebr">

  </div>
 </div>
</App>